ADMIN_PRIVATE_KEY=
PANTERA_PRIVATE_KEY=
MAJELIS_PRIVATE_KEY=
SMART_CONTRACT_ADDRESS=0x34EE74C8FD0Eb8aeDA39b91fB66c6600a61cb9Cb
POLYGON_MAINNET_RPC=https://polygon-mainnet.public.blastapi.io

# Pinata config
PINATA_API_KEY=your_api_key_here
PINATA_SECRET_KEY=your_secret_key_here
PINATA_JWT=your_jwt_here